.App {
  padding: 0;
  margin: 0;
}

.Container{
  background-color: #223343;
  display: flex;
  justify-content: space-around
}
.Title{
  padding: 25px;
  margin: 10px, 0px;
  color: whitesmoke;
}

.searchbox-wrap{
  display: flex;
  justify-items: flex-end;
  padding: 45px;
  margin: 20px;
}
.MovieList-Container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.Card-Container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  
}
.Cards-list {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 10px;
  width: 300px;
  background-color: #223345;
}
.myButton {
	box-shadow: 6px 5px 6px 1px #899599;
	background:linear-gradient(bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
  display:flex;
  align-items: center;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
	font-style:italic;
  padding:10px 50px;
	text-decoration:none;
	text-shadow:0px 0px 0px #e1e2ed;
}
.myButton:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.myButton:active {
	position:relative;
	top:1px;
}
